// add your overrides here to whatever framework you're working with
.modal {
  // bad fsp z-index on it's elements, have to
  // compensate here
  z-index: 2147483648;
}

.fsp-picker--inline {
  display: flex !important;
  min-height: 450px !important;

  .fsp-picker-holder {
    height: auto !important;
  }
}

.fsp-content-scroll {
  overflow-y: auto !important;
  scroll-behavior: smooth;
}

.fsp-picker .fsp-summary__go-back {
  top: 3px;
  left: 30px;
  width: 88px;
  height: 44px;
  background-size: contain;
  background-position: center;
}

.fsp-grid__cell:active {
  background-color: #ccc !important;
}